/* General styling */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    width: 100%;
}
.col{
    width: 20%;
    padding: 1%;
}
p{
    margin: 1%;
}

/* header sections */
header{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 12%;
    color: white;
    padding-bottom: 2%;
}
header h2{
    font-weight: bold;
}
header h1 span{
    display: block;
}
#mouseClick{
    margin-top: 10%;
    margin-bottom: 0;
    padding-bottom: 0;
}
header p{
    font-size: small;
}

/* About us section */
#aboutUs{
    margin: 4%;
    text-align: center;
}

/* Services section */
#services{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    margin-bottom: 4%;
    text-align: center;
    color: white;
}

/* What we do section */
#whatWeDo{
    margin: 5%;
    margin-bottom: 0;
    
}
.cards{
    padding: 5%;
    display: flex;
    width: 100%;
    justify-content: center;
}
.card{
    width: 30%;
    display: block;
}
.showHide{
    display: none;
}
.hideShow p{
    padding: 0;
    text-align: center;
}
.card p{
    font-weight: 800;
}

/* Portfolio section */
#portfolion{
    margin-bottom: 0;
}
.white img{
    width: 100%;
}
.row p{
    display: none;
}
.des{
    color: white;
    border: 2px solid white;
    position: relative;
    top: -60%;
    font-size: xx-large;
    margin: 5%;
    height: 50%;
    padding-top: 30%;
    font-weight: 900;
}

/* Contact Us section */
#contactUs{
    background-image: url("../assets/backgrounds/c_image.jpg");
    padding: 3%;
    margin: 3%;
    color: white;
}
textarea{
    display: flex;
    background-color: transparent;
    color: white;
    position: relative;
    left: 25%;
    width: 50%;
    margin: 1%;
    border: 1px solid white;
    padding: 1%;
    text-align: left;
}
input{
    width: 25%;
    margin: 1%;
    height: 25px;
    text-align: left;
    padding-left: 1%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 30px;
}
#submit{
    color: white;
    text-align: center;
    width: 15%;
    background-color: gray;
    height: 40px;
    font-size: large;
    padding: 0;
    border-radius: 5px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: white !important;
}

/* Footer section*/
footer img{
    margin: 0 .5%;
}
.footer{
    margin-top: 2%;
}
.footer p{
    padding: 0;
    margin: .8%;
}
@media screen and (max-width: 500px){
    /* What We Do session */
    .cards{
        display: block;
        width: 100%;

    }
    .card{
        width: 100%;
        margin-bottom: 5%;
        padding: 2%;
        margin;
    }

    /* Portfolio Section */
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .col{
        width: 80%;
        position: relative;
        left: 10%;
    }
    #portfolio h2 {
        margin-bottom: 2%;
    }

}